<head>
  <link rel='stylesheet' href='/stylesheets/nav.css' />
</head>
<div class="nav">
  <header class="header">
    <nav class="header__main">
      <h1 class="header__title">Uleam</h1>
      <ul>
        <li>
          <a href="/p/tutorias/enviadas" class="nav__enviadas">
            <img src="/images/create.svg" alt="Tutorias enviadas">
          </a>
        </li>
        <li>
          <a href="/p/tutorias/recibidas" class="nav__recibidas">
            <img src="/images/return.svg" alt="Tutorias recibidas">
          </a>
        </li>
        <li>
          <a href="/p/inicio" class="nav__cuenta">
            <img src="/images/account.svg" alt="Cuenta">
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>