<head>
  <link rel='stylesheet' href='/stylesheets/send_canceled.css' />
</head>
<div class="class">
  {{#each canceled}}
    <div class="main__class">
      <div class="main__flex">
        <div class="main__icon">
          <img src="/images/canceled.svg" alt="Logotipo de clase">
        </div>
        <div class="main__data">
          <p class="main__materia">
            {{this.subject.name}}
          </p>
          <p class="margin">
            <b>Paralelo: </b>{{this.subject.class}}
          </p>
          <p class="margin">
            <b>Nombres: </b>{{this.subject.teacher.name}}
          </p>
          <p class="margin">
            <b>Apellidos: </b>{{this.subject.teacher.lastname}}
          </p>
          <p class="margin">
            <b>Tema: </b>{{this.topic}}
          </p>
          <p class="margin">
            <b>Descripcion: </b>{{this.description}}
          </p>
          <p class="margin">
            <b>Tipo: </b>{{this.type}}
          </p>
          <p class="margin">
            <b>Estado: </b>{{this.state}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>