<head>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<div class="form">
    <div class="container">
      <div class="container__form">
        <div class="container__center">
          <h1 class="container__title">Uleam</h1>
          <h2 class="container__subtitle">Ingresa al sistema de <br> Tutorías Académicas</h2>
          <form action="/" method="POST">
            <div>
              <input type="email" name="email" placeholder="Correo">
            </div>
            <div>
              <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div>
              <input type="submit" value="Ingresar">
            </div>
          </form>
          <p class="container__footer">© 2021 🚀 Todos los derechos reservados </p>
        </div>
      </div>
      <div class="container__bg">
        
      </div>
    </div>
  </div>