<head>
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<div class="main">
    {{> nav}}
    <div class="title__main">
      <p>Materias</p>
    </div>
    <div class="main__two">
      <div class="main__grid">
        {{#each subject}}
        <div class="class">
          <div class="main__class">
            <div class="main__flex">
              <div class="main__icon">
                <img src="/images/class.svg" alt="Logotipo de clase">
              </div>
              <div class="main__data">
                <p class="main__materia">
                  {{this.name}}
                </p>
                <p class="margin">
                  <b>Paralelo: </b>{{this.class}}
                </p>
                <p class="margin">
                  <b>Nombres: </b>{{this.teacher.name}}
                </p>
                <p class="margin">
                  <b>Apellidos: </b>{{this.teacher.lastname}}
                </p>
                <p class="margin">
                  <b>Email: </b>{{this.teacher.email}}
                </p>
              </div>
            </div>
              <a href="/p/tutorias/{{this._id}}" class="main__tutoria__send">Crear una tutoría</a>
            </div>
        </div>
        {{/each}}
      </div>
    </div>
</div>