<head>
  <link rel='stylesheet' href='/stylesheets/received.css' />
</head>
<div class="tutoring">
    {{> nav}}
    <div>
      <div class="title__tutoring">
        <p>Tutorías recibidas</p>
      </div>
      <div class="grid">
        <p class="grid__tutoria">Tutorías pendientes</p>
        <p class="grid__tutoria">Tutorías aceptadas</p>
        <p class="grid__tutoria">Tutorías rechazadas</p>
      </div>
      <div class="main__tuto">
        <article>
          {{> received_pending}}
        </article>
        <article>
          {{> received_acepted}}
        </article>
        <article>
          {{> received_canceled}}
        </article>
      </div>
    </div>
</div>