<head>
  <link rel='stylesheet' href='/stylesheets/sended.css' />
</head>
<div class="sended">
    {{> nav}}
    <div>
      <div class="title__sended">
        <p>Tutorías enviadas</p>
      </div>
      <div class="grid">
        <p class="grid__tutoria">Tutorías pendientes</p>
        <p class="grid__tutoria">Tutorías aceptadas</p>
        <p class="grid__tutoria">Tutorías rechazadas</p>
      </div>
      <div class="main__send">
        <article>
          {{> send_pending}}
        </article>
        <article>
          {{> send_acepted}}
        </article>
        <article>
          {{> send_canceled}}
        </article>
      </div>
    </div>
</div>