<head>
  <link rel='stylesheet' href='/stylesheets/tutoring.css' />
</head>
<div class="sendtutoring">
    {{> nav}}
    <div>
      <div class="title__send">
        <p>Crear tutorías</p>
      </div>
      <div class="main__form">
        <form action="/p/tutorias/crear" method="POST">
        <input type="hidden" name="_id" value="{{tutoring._id}}">
          <div class="form__grid">
            <div>
              <div class="flex__date">
                <div class="focus">
                  <label for="" class="label">Fecha</label>
                  <input type="datetime-local" name="date" id="">
                </div>
              </div>
              <div class="focus">
                <label for="" class="label">Título</label>
                <input type="text" name="topic" id="" placeholder="Título">
              </div>
              <div class="focus">
                <label for="" class="label">Descripción</label>
                <input type="text" name="description" id="" placeholder="Descripción">
              </div>
              <div class="focus">
                <label for="" class="label">Materia</label>
                <input type="text" disabled placeholder="{{tutoring.name}}">
              </div>
            </div>
            <div>
              <label for="" class="label">Estudiantes</label>
              <div class="box">
                {{#each tutoring.students}}
                <label for="" class="student">
                  <input type="checkbox" name="assistants" id="" value="{{this._id}}">
                  {{this.name}} {{this.lastname}}
                </label>
                {{/each}}
              </div>
            </div>
            <div>
              <div class="focus">
                <label for="" class="label">Software de comunicación</label>
                <select name="comunication" id="">
                  <option disabled value="">Software de comunicación</option>
                  <option value="Zoom">Zoom</option>
                  <option value="Microsoft Teams">Microsoft Teams</option>
                </select>
              </div>
              <div class="focus">
                <label for="" class="label">Tipo de tutoría</label>
                <select name="type" id="">
                  <option disabled value="">Tipo de tutoría</option>
                  <option value="Grupal">Grupal</option>
                  <option value="Individual">Individual</option>
                </select>
              </div>
              <div class="focus">
                <label for="" class="label">Medio de comunicación</label>
                <select name="software" id="">
                  <option disabled value="">Medio de comunicación</option>
                  <option value="Virtual">Virtual</option>
                  <option value="Presencial">Presencial</option>
                </select>
              </div>
              <div>
                <input type="submit" value="Enviar">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>