.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  text-align: center;
}
.container__form{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container__title{
  padding-bottom: 100px;
  font-size: 22px;
  font-weight: 500;
  color: var(--color-primary);
}
.container__subtitle{
  font-size: 28px;
  font-weight: 700;
}
input[type="email"],
input[type="password"]{
  height: 45px;
  width: 320px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]{
  height: 50px;
  width: 342px;
  margin-bottom: 10px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
input[type]:focus{
  border: 2px solid var(--color-primary);
  outline: 0 none;
}
.container__form{
  background-color: var(--color-white);
}
.container__footer{
  padding-top: 150px;
  font-size: 14px;
  color: var(--color-gray);
}
.container__bg{
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}