.title__main{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.main__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}
.main__two{
  padding: 21px 35px 35px 35px;
  overflow:hidden;
}
/* MATERIAS */
.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
}
.main__flex{
  display: flex;
  margin: 20px 10px 10px 10px;
}
.main__icon{
  width: 50px;
}
.main__tutoria__send{
  padding: 20px 5px;
  display: block;
  background-color: var(--color-gray-three);
  text-align: center;
  text-decoration: none;
  color: var(--color-gray);
  border-radius: 5px;
  margin: 10px;
}
.main__tutoria__send:hover{
  background-color: var(--bg-color-two);
  color: var(--color-primary);
}
.main__materia{
  margin: 5px 0px 3px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}