.main__class{
  background-color: var(--color-white);
  margin-bottom: 18px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
}
.main__flex{
  display: flex;
  margin: 20px 10px 10px 10px;
}
.main__icon{
  width: 50px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0px 10px 10px 10px;
  
}
.main__tutoria{
  padding: 20px 10px;
  display: block;
  background-color: var(--color-gray-three);
  text-align: center;
  text-decoration: none;
  color: var(--color-gray);
  border-radius: 5px;
  
  margin-top: 10px;
}
.main__tutoria:hover{
  background-color: var(--bg-color-two);
  color: var(--color-primary);
  cursor: pointer;
}
.main__materia{
  margin: 5px 0px 3px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}