.title__sended{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.grid__tutoria{
  background-color: var(--color-white);
  height: 50px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
}
.grid, .main__send{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.grid{
  padding: 5px 35px 0px 35px;
}
.main__send{
  padding: 5px 35px 35px 35px;
}