.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  margin-bottom: 18px;
}
.main__flex{
  display: flex;
  margin: 20px 10px 20px 10px;
}
.main__icon{
  width: 50px;
}
.main__materia{
  margin: 5px 0px 0px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}