body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root{
  --bg-color: #f7f9fb;
  --bg-color-two: #1ecaaa18;
  --color-gray: #6e6e6f;
  --color-gray-two: #c8c6c4f1;
  --color-gray-three: #5f8a8118;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #1ecaab;
}