.box::-webkit-scrollbar {
  width: 8px;
}
.box::-webkit-scrollbar-thumb {
  background: var(--color-gray-two);
  border-radius: 4px;
  height: 5px;
}
.box::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 4px;
}
.student{
  color: var(--color-gray);
  padding: 9px 0px;
}
.title__send{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.main__form{
  padding: 21px 35px 35px 35px;
}
.form__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  padding: 50px 30px 30px 30px;
}
.box{
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  height: 290px;
  overflow:auto;
  width: 320px;
}
.flex__date{
  display: flex;
}
label{
  display: block;
}
.focus:focus-within .label{
  color: var(--color-primary);
}
input[type="text"]{
  height: 45px;
  width: 320px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="datetime-local"]{
  height: 45px;
  width: 320px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="time"]{
  height: 45px;
  width: 90px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]{
  height: 50px;
  width: 342px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin-top: 18px;
}
input[type]:focus, select:focus{
  border: 2px solid var(--color-primary);
  outline: 0 none;
}
select{
  height: 45px;
  width: 343px;
  margin-bottom: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}